.login-container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-container.dark {
  background-color: #333;
  color: #f0f8ff;
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.login-box.dark {
  background-color: #333;
  color: #f0f8ff;
}

.login-heading {
  color: #333;
  margin-bottom: 20px;
}

.login-heading.dark {
  color: #f0f8ff;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 5px;
  color: #555;
}

.login-label.dark {
  color: #f0f8ff;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-input.dark {
  background-color: #555;
  color: #f0f8ff;
  border: 1px solid #777;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-create-account {
  background-color: #28a745;
}

.login-create-account:hover {
  background-color: #218838;
}

.login-theme-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
}


label {
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.create-account {
  background-color: #28a745;
}

.create-account:hover {
  background-color: #218838;
}
